<!-- Loop over each object in the projects array -->
<h1 class="content-subhead">Recent Posts</h1>
{{#each posts as |post| }}
 

                <section class="post">
                    <header class="post-header">

                        <h2 class="post-title"><a href="/post/{{post.id}}">{{post.title}}</a></h2>

                        <p class="post-meta">
                            By {{post.user.username}} on {{format_date post.date_created}}
                        </p>
                    </header>

                    <div class="post-content">
                        <p>
                            {{post.content}}
                        </p>
                    </div>
                </section>
            </div>
{{/each}}
